
#header {
    background-color: #1F2937;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.top {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline;
}

