
.container {
    background-color: blue;
    width: 400px;
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.center {
    background-color: palevioletred;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 80px;
}
